*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Verbs/src/main/java/database/Dao/QuranicVerbsDao.java
/Verbs/src/main/java/database/Dao/QuranVerbsDao.java
/Verbs/src/main/java/database/Dao/BuckwaterDao.java
